{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>IAM Admin</title>
    <link rel="stylesheet" href="{% static 'admin_ui/style.css' %}">
</head>
<body>

<div class="sidebar">
    <h2>IAM Admin</h2>
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'employees' %}">Users</a>
    <a href="#">Roles</a>
    <a href="#">Sessions</a>
    <a href="{% url 'applications' %}">Applications</a>
</div>

<div class="main">
    {% block content %}{% endblock %}
</div>

</body>
</html>