{% extends "admin_ui/base.html" %} {% block content %}
<h1>Employees</h1>
<!-- CREATE -->
<div class="card">
    <h3>Add Employee</h3>

    <form method="post">
        {% csrf_token %}

        <div class="form-grid">

            <div class="form-group">
                <label>Name</label>
                <input name="name" required>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input name="email" required>
            </div>

            <div class="form-group">
                <label>Contact Number</label>
                <input name="contact_number">
            </div>

            <div class="form-group">
                <label>Title</label>
                <input name="title">
            </div>

            <div class="form-group">
                <label>Department</label>
                <input name="department">
            </div>

            <div class="form-group">
                <label>Join Date</label>
                <input type="date" name="join_date">
            </div>

            <div class="form-group">
                <label>Role</label>
                <select name="role_id">
                    {% for r in roles %}
                    <option value="{{ r.id }}">{{ r.name }}</option>
                    {% endfor %}
                </select>
            </div>

<div class="form-group">
<button>Add Employee</button>
</div>

</div>

</form>
</div>

<!-- LIST -->
<div class="card">
    <h3>Employee List</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Title</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        {% for e in employees %}
        <tr>
            <td>{{ e.name }}</td>
            <td>{{ e.email }}</td>
            <td>{{ e.title }}</td>
            <td>{{ e.role_name }}</td>
            <td>
                <a href="{% url 'edit_employee' e.id %}">Edit</a> |<a href="{% url 'delete_employee' e.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}