{% extends "admin_ui/base.html" %} {% block content %}
<h2>Settings</h2>

<form method="GET">
    <select name="application">
        <option value="">Select Application</option>

        {% for app in applications %}
        <option value="{{ app.id }}"
            {% if selected_app == app.id %}selected{% endif %}>
            {{ app.name }}
        </option>
        {% endfor %}
    </select>

    <button type="submit">Load</button>
</form>

{% if selected_app %}

<h3 style="margin-top:18px;">Assign Role Scope</h3>

<form method="post" action="/admin-ui/role-scopes/update/" style="margin-bottom:14px;">
{% csrf_token %}

<input type="hidden" name="application" value="{{ selected_app }}">

<div class="role-scope-container">

    <div class="role-scope-row">

        <!-- ROLE -->
        <div class="role-scope-field">
            <label class="role-scope-label">Role</label>

            <select name="role" class="role-scope-select">
                {% for role in roles %}
                    <option value="{{ role.name }}">{{ role.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- SCOPES -->
        <div class="role-scope-field">
            <label class="role-scope-label">Scopes</label>

            <select name="scopes" class="role-scope-select">
                {% for scope in scopes %}
                    <option value="{{ scope.name }}">{{ scope.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- BUTTON -->
        <button type="submit" name="assign_role_scope" class="role-scope-btn">
            Assign
        </button>

    </div>

</div>

</form>

<h3>Current Mappings</h3>

<div class="mapping-box">

    {% for rs in role_scopes %}
        <div class="mapping-item">
            <span class="mapping-role">{{ rs.role }}</span>
            <span class="mapping-arrow">→</span>
            <span class="mapping-scope">{{ rs.scope }}</span>

            <a href="/admin-ui/role-scopes/delete/{{ rs.id }}/?application={{ selected_app }}"
               class="mapping-delete">
                ✕
            </a>
        </div>
    {% empty %}
        <div class="mapping-empty">No mappings</div>
    {% endfor %}

</div>

{% endif %}

<h3>Roles</h3>


<form method="POST" action="/admin-ui/roles/create/">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Role name">
    <button type="submit">Add</button>
</form>

<div class="mapping-box">

    {% for role in roles %}
        <div class="mapping-item">
            <span class="mapping-role">{{ role.name }}</span>
            <a href="/admin-ui/roles/delete/{{ role.id }}/" class="mapping-delete">
                ✕
            </a>
        </div>
    {% empty %}
        <div class="mapping-empty">No mappings</div>
    {% endfor %}

</div>

<h3>Scopes</h3>

<form method="POST" action="/admin-ui/scopes/create/">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Scope name">
    <input type="text" name="description" placeholder="Scope Description">
    <button type="submit">Add</button>
</form>

<div class="mapping-box">

    {% for scope in scopes %}
        <div class="mapping-item">
            <span class="mapping-role">{{ scope.name }}</span>
            <span class="mapping-arrow">--------</span>
            <span class="mapping-role">{{ scope.description }}</span>
            <a href="/admin-ui/scopes/delete/{{ scope.id }}/" class="mapping-delete">
                ✕
            </a>
        </div>
    {% empty %}
        <div class="mapping-empty">No mappings</div>
    {% endfor %}

</div>
{% endblock %}